.nav-link{
	font-weight:900;
	font-size:20px !important;
	color:#fed136 !important;
	border-radius:3px;
}
.nav-link:hover{
	background-color:#fed136 !important;
	color:black !important;
}
.masthead div div{
	color:#fed136;
}
.news-data{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:3%;
}
.news-data a{
	letter-spacing:2px;
	line-height:30px;
	cursor:pointer;
}
.about-text{
	padding:0 10% !important;
}
.modal-content{
	width:50%;
	margin-left:auto;
	margin-right:auto;
}
.footer{
	padding:5%;
	font-size:20px !important;
	background-color:#212529 !important;
	color:#fed136;
}
@media only screen and (max-width: 600px) {
	.news-data{
		margin-left:10%;
	}
	.modal-content{
		width:100%;
		margin-left:auto;
		margin-right:auto;
	}
}